@charset "utf-8";
/* Global Styles */

body {
    margin: 0 auto;
    font-family: 'Charter', 'Times New Roman', serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    padding: 0 5%;
}

a {
    color: #cc0000; 
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    text-align: center;
    margin-top: 20px;
    background-color: white;
}

.navLinks a {
    display: inline-block;
    padding: 10px 15px; 
    background-color: #cc0000;
    color: #ffffff; 
    font-weight: bold;
    text-decoration: underline; 
    margin-right: 10px;
    margin-left: 10px; 
    border-radius: 5px;
}

.profileSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #666;
}

.profilePhoto {
    width: 40%; 
    padding-right: 20px;
}

.contactInfo {
    text-align: left;
}

.contactInfo p {
    font-size: 1em;
}

.welcomeSection, .mainContent {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #666;
}

.welcomeSection h3, .mainContent h3 {
    font-size: 1.2em;
}

.welcomeSection p, .mainContent ul {
    font-size: 1em;
}

footer {
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .profileSection {
        flex-direction: column;
        align-items: center;
    }

    .navLinks a {
        padding: 8px;
        font-size: 0.8em;
    }

    body, .contactInfo p, .welcomeSection p, .mainContent ul {
        padding: 0 10px;
    }
}
